prosweet.gay { 
  tls internal
  reverse_proxy web:3000
}

api.prosweet.gay { 
  tls internal
  reverse_proxy prosweet-caldav:3000
}

caldav.prosweet.gay {
  tls internal
  encode zstd gzip

  # iOS autoconfig probes this
  handle_path /.well-known/caldav* {
    reverse_proxy radicale:5232
  }

  # everything else to Radicale
  reverse_proxy radicale:5232 {
    # forward auth and real IP
    header_up Authorization {http.request.header.Authorization}
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote}
    header_up Host {host}
  }
}

